__pycache__/
/.idea

# from build
build/
*.egg-info/
dist/

# Ignore temporary tox and pytest environments
.tox/
.pytest_cache/

#
.env
.exp_app/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
